<nav class="navbar navbar-expand-lg navbar-transparent  navbar-absolute fixed-top">
    <div class="container-fluid">
        <div class="navbar-wrapper">
          <a class="navbar-brand" href="javascript:void(0)">{{getTitle()}}</a>
        </div>
        <button mat-raised-button class="navbar-toggler" type="button" (click)="sidebarToggle()">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navigation" >
            <form class="navbar-form" *ngIf="loggedIn">
                <div class="input-group no-border">
                    <input type="text" value="" class="form-control" placeholder="Search...">
                    <button mat-raised-button type="submit" class="btn btn-white btn-round btn-just-icon">
                        <i class="material-icons">search</i>
                        <div class="ripple-container"></div>
                    </button>
                </div>
            </form>
            <form *ngIf="!loggedIn" #loginForm="ngForm" class="form-inline mt-2 mt-md-0" (ngSubmit)="login()" autocomplete="off">
                <input
                name="username"
                [(ngModel)]="model.username" 
                class="form-control mr-sm-2" 
                type="text" 
                placeholder="Korisničko ime">
                <input
                name="password"
                [(ngModel)]="model.password" 
                class="form-control mr-sm-2" 
                type="password" 
                placeholder="Lozinka">
                <button class="btn btn-primary my-2 my-sm-0" type="submit">Prijava</button>
              </form>
              <button class="btn btn-primary my-2 my-sm-0" (click)="logout()">Prijava</button>
        </div>
        <div class="dropdown" *ngIf="loggedIn">
            <a class="dropdown-toggle text-light"> Welcome user </a>
            <div class="dropdown-menu">
                <a class="dropdown-item"> Edit Profile </a>
                <a class="dropdown-item" (click)="logout()"> Logout </a>
            </div>
         </div>
    </div>
</nav>